{% if publication.user.id == app.user.id %}
	<form method="post" class="d-inline" action="{{ path('app_publication_delete', {'id': publication.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer la publication ?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publication.id) }}">
		<button class="btn btn-outline-danger">Supprimer</button>
	</form>
{% endif %}
