{% extends 'base.html.twig' %}

{% set title = 'Publication#' ~ publication.id %}

{% block body %}
	<div class="container">
		{% include "publication/_publication.html.twig" with {display : 'large'} %}

		<div class="row">
			<div class="col-1 border-end border-2 border-black"></div>
			<div class="col">
				<h3>Réponse</h3>
				{% for publication in posteriorPublications %}
					<div class="row my-2">
						<div class="col">
							{% include "publication/_publication.html.twig" with {display : 'large'} %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>


	</div>
{% endblock %}
