<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% if title is not defined %}
				{% set title = 'Undefined' %}
			{% endif %}

			{% block title %}
				{{title}}
			{% endblock %}
		</title>

		{% block stylesheets %}{% endblock %}
		{{encore_entry_link_tags('app')}}

	</head>
	<body class ="pb-5">
		{% include "include/navbar.html.twig" %}
		{% block body %}
			{% block javascripts %}{% endblock %}

		{% endblock %}
		{{encore_entry_script_tags('app')}}

	</body>
</html>
